.mkbtn {
    padding: 10px 20px;
    background-color: $enphasys_color;
    color: $white;
    border-radius: 20px;
    margin-top: 20px;
    transition: transform 0.3s ease;

    &:hover {
        background-color: $enphasys_color_hover;
        transform: scale(1.1);
    }
}

.mkbtn_download {
    padding: 10px 20px;
    background-color: $enphasys_color;
    color: $white;
    border-radius: 20px;
    margin-top: 20px;
    transition: transform 0.3s ease;
    border: none;

    &:hover {
        background-color: $enphasys_color_hover;
        transform: translateY(-5px);
    }
}

.portfolio {
    button {
        padding: 10px 20px;
        font-size: .8rem;
        background-color: transparent;
        color: $enphasys_color;
        border-color: $enphasys_color;
        border-radius: 5px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}