$white: #fff;
$black: #121212;
$gray: #2A2A2A;
$text: #9F9F9F;
$enphasys_color: #009E66;
$enphasys_color_hover: #31BE8B;


h1,
h2 {
    font-family: 'Lexend Giga';
    font-weight: 400;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}