$white: #FFFFFC;
$black: #0D0A0B;
$gray: #646E78;
$text: #9F9F9F;
$enphasys_color: #009E66;
$enphasys_color_hover: #37BF32;

$extra_color: #264653;

h1,
h2 {
    font-family: 'Lexend Giga';
    font-weight: 400;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}