@import 'variables';
@import 'buttons';

body {
    font-family: 'Poppins', sans-serif;
    color: $text;
    background-color: $black;
    margin: 0;
    padding: 0;
}

/* Social Bar styles */
.socialBar {
    position: fixed;
    top: 50%;
    right: 0.625rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    border-radius: 1.25rem;
}

.socialBar_red {
    padding: 0.625rem;
    transition: all 0.3s ease;

    img {
        width: 1.25rem;
        height: 1.25rem;
        transition: filter 0.3s ease;
    }

    &:hover img {
        filter: brightness(0) saturate(100%) invert(48%) sepia(40%) saturate(500%) hue-rotate(110deg) brightness(90%) contrast(100%);
    }
}

/* Barra de navegación */
nav {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

body.scrolled nav {
    background-color: $white;
    transition: background-color 0.3s ease;
}

.nav_links {
    font-family: 'Poppins', sans-serif;
    display: flex;
    gap: 2.5rem;
    margin-right: 3.125rem;
    list-style: none;

    a {
        color: $text;

        &:hover {
            color: $white;
        }
    }
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2.5rem;
    height: 80vh;
    justify-content: center;
    gap: 0.125rem;
    background-image: url('../img/head.png');
    background-size: cover;
    background-position: center;

    h1 {
        font-size: 3rem;
        color: $white;
        font-weight: 800;
    }

    h2 {
        font-size: 1.5rem;
        max-width: 50%;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// Who I´m (Sobre mí) 
.aboutme {
    max-width: 87.5rem;
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    text-align: justify;

    .aboutme_text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 50%;
    }

    h3 {
        color: $enphasys_color;
        font-size: 1rem;
        font-weight: 600;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .aboutme_info {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .aboutme_info_etiqueta {
        color: $white;
    }

    /* Editor de Código */
    .code_editor {
        background: #1e1e1e;
        border-radius: 0.5rem;
        padding: 1rem;
        width: 40%;
        font-family: "Fira Code", monospace;
        position: relative;
        box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
    }

    .code_header {
        display: flex;
        gap: 0.4rem;
        margin-bottom: 0.5rem;
    }

    .dot {
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        display: inline-block;
    }

    .red {
        background: #ff5f56;
    }

    .yellow {
        background: #ffbd2e;
    }

    .green {
        background: #27c93f;
    }

    pre {
        margin: 0;
        white-space: pre-wrap;
        font-size: 0.85rem;
    }
}



.portfolio{
    max-width: 1400px;
    margin: 3rem 0;
}







// Skills (Lenguajes, Frameworks, etc.)
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0;
    max-width: 87.5rem;

    h2 {
        color: $enphasys_color;
        font-size: 1.5rem;
        font-weight: 700;
    }

    span {
        color: $white;
        -webkit-text-stroke-color: rgb(255 255 255 / 20%);
        font-size: 4rem;
        position: absolute;
        z-index: -1;
        opacity: 0.1;
    }

    .skills_container {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .skills_container--item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        border: 0.125rem solid transparent;
        border-radius: 0.5rem;
        background-color: #1E1E1E;
        transition: border-color 0.3s ease;
        width: 19.75rem;
        height: 17.5rem;
        text-align: justify;
        &:hover {
            border-color: $enphasys_color_hover;
        }
    }

    .skills_container--item img {
        width: 4.375rem;
        height: 4.375rem;
    }

    .skills_container--item h3 {
        color: $white;
        font-size: 1rem;
        font-weight: 600;
    }
}

// Tools (Herramientas)
.tools {
    display: flex;
    flex-direction: row;
    max-width: 87.5rem;
    margin: 3rem 0;
    justify-content: center;
    align-items: center;

    .tools_title {
        max-width: 50%;
        margin-right: 3.75rem;
        h2 {
            color: $enphasys_color;
            font-size: 1.5rem;
            font-weight: 700;
        }
    }

    .tools_container {
        display: flex;
        flex-direction: column;
        gap: 0.375rem;
    }

    .tool_container--element {
        img {
            width: 3.75rem;
            height: 3.75rem;
            margin: 0.9375rem;
            transition: transform 0.3s ease, filter 0.3s ease;

            &:hover {
                transform: scaleX(1.1) scaleY(1.1);
                filter: brightness(0) invert(1);
            }
        }
    }
}

// Resume (Experiencia Laboral)
.resume{
    max-width: 1400px;
    margin: 3rem 0;

    h2 {
        color: $enphasys_color;
        font-size: 1.5rem;
        font-weight: 700;
        text-align: center;
    }

    span {
        color: $white;
        -webkit-text-stroke-color: rgb(255 255 255 / 20%);
        font-size: 4rem;
        position: absolute;
        z-index: -1;
        opacity: 0.1;
    }

    .resume__timeline-container {
        margin: 4rem 0;

        .resume__timeline {
            --col-gap: 2rem;
            --row-gap: 2rem;
            --line-w: 0.25rem;
            display: grid;
            grid-template-columns: var(--line-w) 1fr;
            grid-auto-columns: max-content;
            column-gap: var(--col-gap);
            list-style: none;
            width: min(60rem, 90%);
            margin-inline: auto;
    
            &::before {
                content: "";
                grid-column: 1;
                grid-row: 1 / span 20;
                background: rgb(225, 225, 225);
                border-radius: calc(var(--line-w) / 2);
            }
    
            .resume__timeline-item {
                grid-column: 2;
                --inlineP: 1.5rem;
                margin-inline: var(--inlineP);
                grid-row: span 2;
                display: grid;
                grid-template-rows: min-content min-content min-content;
                --accent-color: $enphasys_color;
    
                &:not(:last-child) {
                    margin-bottom: var(--row-gap);
                }
    
                .resume__timeline-date {
                    --dateH: 3rem;
                    height: var(--dateH);
                    margin-inline: calc(var(--inlineP) * -1);
                    text-align: center;
                    background-color: $enphasys_color;
                    color: white;
                    font-size: 1rem;
                    font-weight: 700;
                    display: grid;
                    place-content: center;
                    position: relative;
                    border-radius: 4px;
                    font-family: 'Lexend Giga';
                    font-weight: 400;
                    text-transform: uppercase;
    
                    &::before {
                        content: "";
                        width: var(--inlineP);
                        aspect-ratio: 1;
                        background: var(--accent-color);
                        background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
                        position: absolute;
                        top: 100%;
                        clip-path: polygon(0 0, 100% 0, 0 100%);
                        right: 0;
                    }
    
                    &::after {
                        content: "";
                        position: absolute;
                        width: 2rem;
                        aspect-ratio: 1;
                        background: var(--bgColor);
                        border: 0.3rem solid var(--accent-color);
                        border-radius: 50%;
                        top: 50%;
                        transform: translate(50%, -50%);
                        right: calc(100% + var(--col-gap) + var(--line-w) / 2);
                    }
                }
    
                .resume__timeline-title,
                .resume__timeline-descr {
                    background: var(--bgColor);
                    position: relative;
                    padding-inline: 1.5rem;
                }
    
                .resume__timeline-title {
                    overflow: hidden;
                    padding-block-start: 1.5rem;
                    padding-block-end: 1rem;
                    font-weight: 300;
                    font-family: 'Poppins', sans-serif;
                    color: $white;
    
                    &::before {
                        content: "";
                        position: absolute;
                        width: 90%;
                        height: 0.5rem;
                        background: rgba(0, 0, 0, 0.5);
                        left: 50%;
                        border-radius: 50%;
                        filter: blur(4px);
                        transform: translate(-50%, 50%);
                        bottom: calc(100% + 0.125rem);
                    }
                }
    
                .resume__timeline-descr {
                    padding-block-end: 1.5rem;
                    font-weight: 300;
    
                    &::before {
                        content: "";
                        position: absolute;
                        width: 90%;
                        height: 0.5rem;
                        background: rgba(0, 0, 0, 0.5);
                        left: 50%;
                        border-radius: 50%;
                        filter: blur(4px);
                        transform: translate(-50%, 50%);
                        bottom: 0.25rem;
                        z-index: -1;
                    }
                }
            }
        }
    
        @media (min-width: 40rem) {
            .resume__timeline {
                grid-template-columns: 1fr var(--line-w) 1fr;
    
                &::before {
                    grid-column: 2;
                }
    
                .resume__timeline-item:nth-child(odd) {
                    grid-column: 1;
    
                    .resume__timeline-date::before {
                        clip-path: polygon(0 0, 100% 0, 100% 100%);
                        left: 0;
                    }
    
                    .resume__timeline-date::after {
                        transform: translate(-50%, -50%);
                        left: calc(100% + var(--col-gap) + var(--line-w) / 2);
                    }
                }
    
                .resume__timeline-item:nth-child(even) {
                    grid-column: 3;
                }
    
                .resume__timeline-item:nth-child(2) {
                    grid-row: 2/4;
                }
            }
        }
    }

}






.faq{
    max-width: 1400px;
    margin: 3rem 0;
}






footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $enphasys_color;
    color: $white;


    .footer_contact {
        display: flex;
        flex-direction: row;
        gap: 10rem;
        margin: 2% 0px;
    }

    .footer_contact--info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .footer_contact--info img {
        width: 45px;
        height: 45px;
    }

    .footer_contact--info h3 {
        cursor: default;
    }

    .footer_contact--info a {
        color: $white;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            font-weight: 800;
            transform: scale(1.1);
        }
    }

    p{
        cursor: default;
    }
}