@charset "UTF-8";
h1,
h2 {
  font-family: "Lexend Giga";
  font-weight: 400;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.mkbtn {
  padding: 10px 20px;
  background-color: #009E66;
  color: #FFFFFC;
  border-radius: 20px;
  margin-top: 20px;
  transition: transform 0.3s ease;
}
.mkbtn:hover {
  background-color: #37BF32;
  transform: scale(1.1);
}

.mkbtn_download {
  padding: 10px 20px;
  background-color: #009E66;
  color: #FFFFFC;
  border-radius: 20px;
  margin-top: 20px;
  transition: transform 0.3s ease;
  border: none;
}
.mkbtn_download:hover {
  background-color: #37BF32;
  transform: translateY(-5px);
}

body {
  font-family: "Poppins", sans-serif;
  color: #9F9F9F;
  background-color: #0D0A0B;
  margin: 0;
  padding: 0;
}

/* Social Bar styles */
.socialBar {
  position: fixed;
  top: 50%;
  right: 0.625rem;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  border-radius: 1.25rem;
}

.socialBar_red {
  padding: 0.625rem;
  transition: all 0.3s ease;
}
.socialBar_red img {
  width: 1.25rem;
  height: 1.25rem;
  transition: filter 0.3s ease;
}
.socialBar_red:hover img {
  filter: brightness(0) saturate(100%) invert(48%) sepia(40%) saturate(500%) hue-rotate(110deg) brightness(90%) contrast(100%);
}

/* NavBar styles (Barra de navegación) */
nav {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

body.scrolled nav {
  background-color: #FFFFFC;
  transition: background-color 0.3s ease;
}

.nav_links {
  font-family: "Poppins", sans-serif;
  display: flex;
  gap: 2.5rem;
  margin-right: 3.125rem;
  list-style: none;
}
.nav_links a {
  color: #9F9F9F;
}
.nav_links a:hover {
  color: #FFFFFC;
}

/* Header styles */
header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2.5rem;
  height: 80vh;
  justify-content: center;
  gap: 0.125rem;
  background-image: url("../img/head.png");
  background-size: cover;
  background-position: center;
}
header h1 {
  font-size: 3rem;
  color: #FFFFFC;
  font-weight: 800;
}
header h2 {
  font-size: 1.5rem;
  max-width: 50%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutme {
  max-width: 87.5rem;
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  text-align: justify;
  /* Editor de Código */
}
.aboutme .aboutme_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
}
.aboutme h3 {
  color: #009E66;
  font-size: 1rem;
  font-weight: 600;
}
.aboutme h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.aboutme .aboutme_info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.aboutme .aboutme_info_etiqueta {
  color: #FFFFFC;
}
.aboutme .code_editor {
  background: #1e1e1e;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 40%;
  font-family: "Fira Code", monospace;
  position: relative;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.2);
}
.aboutme .code_header {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 0.5rem;
}
.aboutme .dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  display: inline-block;
}
.aboutme .red {
  background: #ff5f56;
}
.aboutme .yellow {
  background: #ffbd2e;
}
.aboutme .green {
  background: #27c93f;
}
.aboutme pre {
  margin: 0;
  white-space: pre-wrap;
  font-size: 0.85rem;
}

.portfolio {
  max-width: 1400px;
  margin: 3rem 0;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 3rem 0;
  max-width: 87.5rem;
}
.skills h2 {
  color: #009E66;
  font-size: 1.5rem;
  font-weight: 700;
}
.skills span {
  color: #FFFFFC;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
  font-size: 4rem;
  position: absolute;
  z-index: -1;
  opacity: 0.1;
}
.skills .skills_container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.skills .skills_container--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 0.125rem solid transparent;
  border-radius: 0.5rem;
  background-color: #1E1E1E;
  transition: border-color 0.3s ease;
  width: 19.75rem;
  height: 17.5rem;
  text-align: justify;
}
.skills .skills_container--item:hover {
  border-color: #37BF32;
}
.skills .skills_container--item img {
  width: 4.375rem;
  height: 4.375rem;
}
.skills .skills_container--item h3 {
  color: #FFFFFC;
  font-size: 1rem;
  font-weight: 600;
}

.tools {
  display: flex;
  flex-direction: row;
  max-width: 87.5rem;
  margin: 3rem 0;
  justify-content: center;
  align-items: center;
}
.tools .tools_title {
  max-width: 50%;
  margin-right: 3.75rem;
}
.tools .tools_title h2 {
  color: #009E66;
  font-size: 1.5rem;
  font-weight: 700;
}
.tools .tools_container {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}
.tools .tool_container--element img {
  width: 3.75rem;
  height: 3.75rem;
  margin: 0.9375rem;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.tools .tool_container--element img:hover {
  transform: scaleX(1.1) scaleY(1.1);
  filter: brightness(0) invert(1);
}

.resume {
  max-width: 1400px;
  margin: 3rem 0;
}
.resume h2 {
  color: #009E66;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.resume span {
  color: #FFFFFC;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.2);
  font-size: 4rem;
  position: absolute;
  z-index: -1;
  opacity: 0.1;
}
.resume .resume__timeline-container {
  margin: 4rem 0;
}
.resume .resume__timeline-container .resume__timeline {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  -moz-column-gap: var(--col-gap);
       column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}
.resume .resume__timeline-container .resume__timeline::before {
  content: "";
  grid-column: 1;
  grid-row: 1/span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}
.resume .resume__timeline-container .resume__timeline .resume__timeline-item {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  --accent-color: $enphasys_color;
}
.resume .resume__timeline-container .resume__timeline .resume__timeline-item:not(:last-child) {
  margin-bottom: var(--row-gap);
}
.resume .resume__timeline-container .resume__timeline .resume__timeline-item .resume__timeline-date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);
  text-align: center;
  background-color: #009E66;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  display: grid;
  place-content: center;
  position: relative;
  border-radius: 4px;
  font-family: "Lexend Giga";
  font-weight: 400;
  text-transform: uppercase;
}
.resume .resume__timeline-container .resume__timeline .resume__timeline-item .resume__timeline-date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 0 100%);
          clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}
.resume .resume__timeline-container .resume__timeline .resume__timeline-item .resume__timeline-date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}
.resume .resume__timeline-container .resume__timeline .resume__timeline-item .resume__timeline-title,
.resume .resume__timeline-container .resume__timeline .resume__timeline-item .resume__timeline-descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 1.5rem;
}
.resume .resume__timeline-container .resume__timeline .resume__timeline-item .resume__timeline-title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  color: #FFFFFC;
}
.resume .resume__timeline-container .resume__timeline .resume__timeline-item .resume__timeline-title::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
  bottom: calc(100% + 0.125rem);
}
.resume .resume__timeline-container .resume__timeline .resume__timeline-item .resume__timeline-descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}
.resume .resume__timeline-container .resume__timeline .resume__timeline-item .resume__timeline-descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
  bottom: 0.25rem;
  z-index: -1;
}
@media (min-width: 40rem) {
  .resume .resume__timeline-container .resume__timeline {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  .resume .resume__timeline-container .resume__timeline::before {
    grid-column: 2;
  }
  .resume .resume__timeline-container .resume__timeline .resume__timeline-item:nth-child(odd) {
    grid-column: 1;
  }
  .resume .resume__timeline-container .resume__timeline .resume__timeline-item:nth-child(odd) .resume__timeline-date::before {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }
  .resume .resume__timeline-container .resume__timeline .resume__timeline-item:nth-child(odd) .resume__timeline-date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  .resume .resume__timeline-container .resume__timeline .resume__timeline-item:nth-child(even) {
    grid-column: 3;
  }
  .resume .resume__timeline-container .resume__timeline .resume__timeline-item:nth-child(2) {
    grid-row: 2/4;
  }
}

.faq {
  max-width: 87.5rem;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
}
.faq h2 {
  color: #009E66;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
.faq p {
  color: #9F9F9F;
  font-size: 1rem;
  text-align: justify;
}
.faq .faq_container {
  display: flex;
  flex-direction: column;
}
.faq .faq_container .faq_item {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
}
.faq .faq_container .faq_item span {
  color: #009E66;
  margin-right: 0.5rem;
}
.faq .faq_container .faq_item h3 {
  width: 43.75rem;
  color: #FFFFFC;
  font-size: 1.5rem;
}
.faq .faq_container .faq_item p {
  width: 40.625rem;
  margin-left: 1.875rem;
  font-size: 0.875rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #009E66;
  color: #FFFFFC;
  margin-top: 2rem;
}
footer .footer_contact {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  margin: 2% 0px;
}
footer .footer_contact--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer .footer_contact--info img {
  width: 45px;
  height: 45px;
}
footer .footer_contact--info h3 {
  cursor: default;
}
footer .footer_contact--info a {
  color: #FFFFFC;
  text-decoration: none;
  transition: color 0.3s ease;
}
footer .footer_contact--info a:hover {
  font-weight: 800;
  transform: scale(1.1);
}
footer p {
  cursor: default;
}/*# sourceMappingURL=main.css.map */